TELEGRAM_TOKEN=tu_token_aqui
TELEGRAM_CHAT_ID=tu_chat_id_aqui

INTERVALO_EJECUCION=5400
UMBRAL_OBRA_PROGRAMADA=5
DIAS_RENOTIFICAR_OBRA=15
DIAS_LIMPIAR_HISTORIAL=5

HORARIO_ANALISIS_INICIO=6
HORARIO_ANALISIS_FIN=23