venv/
__pycache__/
*.pyc

.env

src/data/estados_persistentes.json

subte_debug.html
nuevaVersion.txt
Test.py
test.py
test_limpieza.py
test2.py
estructura.exceptions.txt
testHora.py
test_normalization.py